<progress max="100" [value]="progress" class="w-100" *ngIf="isLoadingMsg"></progress>
<div class="alert alert-danger mt-5 mx-5" role="alert" *ngIf="error && !newChat">
    El chat que intentas buscar no existe busca nuevamente o <a [routerLink]="['/chat/new']">crea uno nuevo</a>
</div>
<div class="container-fluid d-flex flex-column pt-5 px-5 overflow-auto" style="height: 92vh;" #chatContainer
    [scrollTop]="scrollPosition">
    <div class="input-group px-5 mt-2" *ngIf="newChat">
        <input class="form-control" #urlArticleIpt>
        <button class="btn btn-secondary" (click)="getSummary(urlArticleIpt.value)" [disabled]="isLoading">
            <i class="fa-solid fa-spinner fa-spin" *ngIf="isLoading"></i>
            {{ isLoading ? '' : 'Get Summary'}}
        </button>
    </div>
    <ng-container *ngIf="!newChat" class="mb-5">
        <div class="card animate__animated animate__fadeIn" *ngFor="let message of messages">
            <div class="card-body">
                <div class="card-title">
                    <div class="icon-{{message.role}} d-inline-block me-2">
                        <i class="fa-solid fa-robot"></i>
                    </div>
                    <h6 class="d-inline-block">{{ message.role | titlecase }}</h6>
                </div>
                <p class="card-text">{{ message.content }}</p>
            </div>
        </div>
    </ng-container>
</div>
<div class="position-fixed bottom-0 px-5 col-10 input" *ngIf="!newChat && !error">
    <div class="input-group container-fluid">
        <textarea class="form-control" [(ngModel)]="answer" rows="1"
            placeholder="Escribe tu respuesta aquí..."></textarea>
        <button class="btn btn-secondary col-1" type="button" id="button-addon2" (click)="sendMessage()" [disabled]="isLoading">
            <i class="fa-solid fa-spinner fa-spin" *ngIf="isLoading"></i>
            {{ isLoading ? '' : 'Send'  }}
        </button>
    </div>
</div>